<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9f0ed5ee-88fc-48df-a297-543265badbaf/resourceGroups/homegadgets_group/providers/Microsoft.Web/sites/homegadgets</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://homegadgets-f5cadpfdd8fwhdb7.westeurope-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>61446a66-dab1-4be8-8282-8ffea07d03a3</ProjectGuid>
    <PublishUrl>https://homegadgets-f5cadpfdd8fwhdb7.scm.westeurope-01.azurewebsites.net/</PublishUrl>
    <UserName>$homegadgets</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>